---
import HeaderLink from './HeaderLink.astro';
import {SITE_TITLE} from '../consts';
import ExternalLink from "./ExternalLink.astro";
import SocialLinks from "./SocialLinks.astro";
---

<header>
    <nav>
        <h2><a href="/">{SITE_TITLE}</a></h2>
        <div class="internal-links">
            <HeaderLink href="/">Home</HeaderLink>
            <HeaderLink href="/hosting">Hosting</HeaderLink>
            <ExternalLink href="//admin.1f349.com">Admin</ExternalLink>
            <ExternalLink href="//status.1f349.com">Status</ExternalLink>
        </div>
        <div class="social-links">
            <SocialLinks/>
        </div>
    </nav>
</header>
<style>
    header {
        margin: 0;
        padding: 0 1em;
        background-color: var(--accent-dark);
    }

    h2 {
        margin: 0;
        font-size: 1em;
    }

    h2 a,
    h2 a.active {
        text-decoration: none;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav a {
        padding: 1em 0.5em;
        border-bottom: 4px solid transparent;
        text-decoration: none;
        color: var(--text-color);
    }

    nav a.active {
        text-decoration: none;
        border-bottom-color: var(--accent);
    }

    nav .internal-links {
        display: flex;
        align-items: center;
    }

    @media (max-width: 720px) {
        .social-links {
            display: none;
        }
    }
</style>
